# Add any directories, files, or patterns you don't want to be tracked by version control
.gradle/
bin/
.classpath
.project
.settings/
.svn/
build/**/*
target/**/*
*.log
*.docx
*.class
portal/portal/build/
/target/
loadbalancer/loadbalancer/build/
